<template>
  <v-container fill-height>
    <v-layout flex align-center justify-center>
      <v-flex xs12 sm3>
        <v-card class="px-3 py-3">
          <v-card-text class="pt-4">
            <div>
              <v-layout class="card-title" d-block text-xs-center>
                <h1>Forgot Password</h1>
                <p>No worries! Enter your email address and we will send you a reset code</p>
              </v-layout>
              <v-form v-model="valid" ref="form">
                <v-text-field
                  label="Email"
                  v-model="email"
                  :rules="emailRules"
                  required
                ></v-text-field>
                <v-layout d-block text-xs-center>
                  <v-btn large block @click="submit" color="primary">SUBMIT</v-btn>
                  <v-btn flat block @click="backToLogin" color="primary">Back</v-btn>
                </v-layout>
              </v-form>
            </div>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
    name: 'ForgotPassword',
    methods: {
        backToLogin() {
            this.$router.push('/login')
        }
    }
}
</script>

<style scoped>
  .card-title {
    color: #4b4a56;
  }
</style>
