<template>
  <v-container fill-height>
    <v-layout flex align-center justify-center>
      <v-flex xs12 sm3 text-xs-center>
        <v-card class="px-3 py-3">
          <v-card-text class="pt-4">
            <div>
              <img src="/v.png" alt="Vuetify.js" class="mb-5" />
              <v-layout class="card-title" d-block text-xs-center>
                <h1>Get Started</h1>
                <p>Sign Up to be a part of Awesomeness!</p>
              </v-layout>
              <v-form ref="form" v-model="valid">
                <v-text-field
                  v-model="text"
                  label="Name"
                  hint="Required"
                  :rules="textRules"
                  required
                ></v-text-field>
                <v-text-field
                  v-model="email"
                  label="Work email address"
                  hint="Required"
                  :rules="emailRules"
                  required
                ></v-text-field>
                <v-text-field
                  v-model="password"
                  label="Password"
                  min="8"
                  hint="A strong password is at least 8 characters long and includes uppercase and lowercase letters, numbers, and symbols"
                  :append-icon="e1 ? 'visibility' : 'visibility_off'"
                  :append-icon-cb="() => (e1 = !e1)"
                  :type="e1 ? 'password' : 'text'"
                  :rules="passwordRules"
                  required
                ></v-text-field>
                <v-select :items="items" label="Country"></v-select>
                <v-text-field
                  v-model="text"
                  label="Contact Number"
                  hint="Required"
                  :rules="textRules"
                  required
                ></v-text-field>
                <v-layout d-block text-xs-center>
                  <v-btn large block color="primary" @click="continueToLogin">
                    CONTINUE</v-btn
                  >
                </v-layout>
              </v-form>
            </div>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    items: ['Indonesia', 'Malaysia', 'Singapore', 'Thailand']
  }),
  methods: {
    continueToLogin() {
      this.$router.push('/login')
    }
  }
}
</script>

<style scoped>
.card-title {
  color: #4b4a56;
}
</style>
