<template>
  <v-container fill-height>
    <v-layout flex align-center justify-center>
      <v-flex xs12 sm3>
        <v-card class="px-3 py-3">
          <v-card-text class="pt-4">
            <div>
              <v-layout class="card-title" d-block text-xs-center>
                <h1>Log In</h1>
                <p>Welcome back, please login to your account</p>
              </v-layout>
              <v-form ref="form" v-model="valid">
                <v-text-field v-model="email" label="Email" :rules="emailRules" required />
                <v-text-field
                  v-model="password"
                  label="Password"
                  min="8"
                  :append-icon="e1 ? 'visibility' : 'visibility_off'"
                  :append-icon-cb="() => (e1 = !e1)"
                  :type="e1 ? 'password' : 'text'"
                  :rules="passwordRules"
                  required
                />
                <v-layout d-block text-xs-center>
                  <v-btn large block color="primary" @click="submit">
                    LOGIN
                  </v-btn>
                  <v-btn flat block color="primary" @click="forgot">
                    Forgot Password
                  </v-btn>
                </v-layout>
              </v-form>
            </div>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'Login',
  data() {
    return {
      // valid: false,
      // e1: false,
      // password: '',
      // passwordRules: [v => !!v || 'Password is required'],
      // email: '',
      // emailRules: [
      //   v => !!v || 'E-mail is required',
      //   v => /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
      // ]
    }
  },
  methods: {
    submit() {
      // if (this.$refs.form.validate()) {
      //   this.$refs.form.$el.submit()
        this.$router.push('/dashboard/welcome')
      // }
    },
    forgot() {
      this.$router.push('/forgot-password')
    }
  }
}
</script>

<style scoped>
.card-title {
  color: #4b4a56;
}
</style>
