<template>
  <v-container fill-height>
    <v-layout flex align-center>
      <v-flex xs12>
        <h1>Let's Get You Started, PAYFAZZ!</h1>
        <v-divider class="mt-3 mb-3"></v-divider>
        <h3>Let's set up your company together. It's best to complate everything at once, but if you need to take break, don't worry. We'll save your progress.</h3>
        <v-stepper v-model="e6" class="mt-3" vertical>
          <v-stepper-step :complete="e6 > 1" step="1">
            Select an app
            <small>Summarize if needed</small>
          </v-stepper-step>

          <v-stepper-content step="1">
            <v-card color="grey lighten-1" class="mb-5" height="200px"></v-card>
            <v-btn color="primary" @click="e6 = 2">Continue</v-btn>
            <v-btn flat>Cancel</v-btn>
          </v-stepper-content>

          <v-stepper-step :complete="e6 > 2" step="2">Configure analytics for this app</v-stepper-step>

          <v-stepper-content step="2">
            <v-card color="grey lighten-1" class="mb-5" height="200px"></v-card>
            <v-btn color="primary" @click="e6 = 3">Continue</v-btn>
            <v-btn flat>Cancel</v-btn>
          </v-stepper-content>

          <v-stepper-step :complete="e6 > 3" step="3">Select an ad format and name ad unit</v-stepper-step>

          <v-stepper-content step="3">
            <v-card color="grey lighten-1" class="mb-5" height="200px"></v-card>
            <v-btn color="primary" @click="e6 = 4">Continue</v-btn>
            <v-btn flat>Cancel</v-btn>
          </v-stepper-content>

          <v-stepper-step step="4">View setup instructions</v-stepper-step>
          <v-stepper-content step="4">
            <v-card color="grey lighten-1" class="mb-5" height="200px"></v-card>
            <v-btn color="primary" @click="e6 = 1">Continue</v-btn>
            <v-btn flat>Cancel</v-btn>
          </v-stepper-content>
        </v-stepper>
        <v-layout align-center justify-center d-block text-xs-center>
          <v-btn color="primary" large>Continue</v-btn>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
    layout: 'dashboard',
    name: 'Welcome',
    methods: {
        
    }
}
</script>

<style scoped>
  .card-title {
    color: #4b4a56;
  }

  .v-stepper{
    box-shadow: none;
  }
</style>
