<template>
  <v-app>
     <v-toolbar color="white" :clipped-left="clipped" fixed app class="pt-1 pb-1">
      <v-toolbar-side-icon @click="drawer = !drawer" />
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <v-btn icon>
        <v-icon>notifications</v-icon>
      </v-btn>
      <v-divider vertical></v-divider>
      <v-menu
      v-model="menu"
      :close-on-content-click="false"
      :nudge-width="150"
      offset-x
      offset-y
    >
      <template v-slot:activator="{ on }">
        <v-btn
          flat
          v-on="on"
        >
          <v-avatar size="36px">
            <img src="https://randomuser.me/api/portraits/men/85.jpg">
          </v-avatar>
          <h4 class="ml-2">John Leider</h4>
        </v-btn>
      </template>

      <v-card>
        <v-layout flex align-center justify-center>
          <v-flex text-xs-center>
            <v-avatar size="64px" class="mt-4 mb-2">
              <img src="https://randomuser.me/api/portraits/men/85.jpg">
            </v-avatar>
            <h3 class="ml-2">John Leider</h3>
            Admin
            <v-divider class="mt-2"></v-divider>
            <v-list class="py-2 px-4">
            <v-list-tile ripple @click="list">
              <v-list-tile-title>Profile</v-list-tile-title>
            </v-list-tile>
            <v-list-tile ripple @click="list">
              <v-list-tile-title>Sign Out</v-list-tile-title>
            </v-list-tile>
          </v-list>
          </v-flex>
        </v-layout>
      </v-card>
    </v-menu>
    </v-toolbar>

    <v-navigation-drawer
      v-model="drawer"
      temporary
      fixed
    >
      <v-list>
        <v-layout class="py-2 px-4">
          <v-btn flat icon @click.stop="drawer = false">
            <v-icon>close</v-icon>
          </v-btn>
        </v-layout>
        <v-divider></v-divider>
        <v-list-tile avatar class="py-3 px-4">
          <v-list-tile-avatar>
            <img src="https://randomuser.me/api/portraits/men/85.jpg">
          </v-list-tile-avatar>

          <v-list-tile-content>
            <v-list-tile-title>John Leider</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
      <v-divider></v-divider>
      <v-list class="py-2 px-4">
        
        <v-list-tile ripple @click="list">
          <v-list-tile-title>Dashboard</v-list-tile-title>
        </v-list-tile>
        <v-divider></v-divider>
        <v-list-tile ripple @click="list">
          <v-list-tile-title>Employee Data</v-list-tile-title>
        </v-list-tile>
        <v-divider></v-divider>
        <v-list-tile ripple @click="list">
          <v-list-tile-title>Departement &amp; Positions</v-list-tile-title>
        </v-list-tile>
        <v-divider></v-divider>
        <v-list-tile ripple @click="list">
          <v-list-tile-title>Time Off</v-list-tile-title>
        </v-list-tile>

        <v-list-group value="true">
          <template v-slot:activator>
            <v-list-tile ripple>
              <v-list-tile-title>Payroll</v-list-tile-title>
            </v-list-tile>
          </template>
            <v-list-tile ripple @click="list" class="px-4">
              <v-list-tile-title>Earnings</v-list-tile-title>
            </v-list-tile>

            <v-list-tile ripple @click="list" class="px-4">
              <v-list-tile-title>Time</v-list-tile-title>
            </v-list-tile>

        </v-list-group>
        <v-divider></v-divider>
        <v-list-tile ripple @click="list">
          <v-list-tile-title>Report</v-list-tile-title>
        </v-list-tile>
        <v-divider></v-divider>
        <v-list-tile ripple @click="list">
          <v-list-tile-title><strong>Log Out</strong></v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-content>
      <v-container>
        <Nuxt />
      </v-container>
    </v-content>
    <v-footer :fixed="fixed" app>
      <span>&copy; 2019</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: 'apps',
          title: 'Welcome',
          to: '/'
        },
        {
          icon: 'bubble_chart',
          title: 'Inspire',
          to: '/inspire'
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Dashboard'
    }
  },
  methods: {
    list() {

    }
  }
}
</script>
